.latitude-view{
  visibility: hidden;
  font-size:0%;
  margin: 0px;
  padding: 0px;
}

#uvi{
  padding: 3px;
  margin: 3px;
}

.prevCityBtn {
  background-color: hsl(207, 90%, 45%);
  color:rgb(0, 0, 0);
  border-color: black;
  border-width: 5px;
  border-style: double;
  border-radius: 5%;
  font-weight: normal;
  margin: 3px;
  padding: 10px;
  width: 15em;
  font-weight: bold;

}
.fBox {
  background-color: hsl(207, 90%, 45%);
  color:rgb(8, 8, 8);
  border-color: black;
  border-width: 5px;
  border-style: double;
  border-radius: 5%;
  font-weight: normal;
  margin: 3px;
  padding: 10px;
  width: auto;
  height: auto;
  visibility: hidden;
  max-width: 9em;
  align-content: center;
}
.header {
font-size: 3em;
font-weight: bolder;
text-align: center;
}

#searchCol {
    background-color:rgb(235, 235, 235)
}

#weatherInfo {
    background-color: lightcyan;
}

#weatherContainer{
    border: 10px;
    border-color: black;
    border-width: 10px;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .weatherLabel{
    font-weight: bold;
  }
  .weatherInfo{
    font-weight: normal;
  }
