.forecastBox {
  background-color: hsl(207, 90%, 45%);
  border-color: black;
  border-width: 10px;
  border-radius: 10%;
}
.header {
font-size: 3em;
font-weight: bolder;
text-align: center;
}

#searchCol {
    background-color:lightyellow
}

#weatherInfo {
    background-color: lightcyan;
}

#weatherContainer{
    border: 10px;
    border-color: black;
    border-width: 10px;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
